/*-----------------------
Style customizations
-----------------------*/

#header {
	background: none repeat scroll 0 0 #464646;
	border: 0px;
	padding: 3px 0;
	color: white;
}

#logo {
	width: 250px;
}

#crossbar, #topPanel {
	background: none repeat scroll 0 0 #A7E4EE;
	border-bottom: 2px solid #dedede;
}

#topPanel {
	background-color: #333;
}

#sitenav li a {
	color: #353535
}

div#main {
	background: none repeat scroll 0 0 white;
}

.wrap {
	width: 920px;
}

.onecol, .twocol {
	background: none;
	padding: 0 !important;
}

.threecol {
	background: none;
	margin: 0 0 0 10px;
	padding: 10px 0 10px 20px;
}

#data_block {
	margin-bottom: 20px;
}

#credit_block {
	margin: 1.5em 0;
}

div#main #refine {
	display: none;
}

div#main #data_ops ul {
	margin: 0px;
}

div#main form ul.form {
	margin: 0 0 2em 0;
}

#footer .credits {
	font-size: .8em;
	color: grey;
}

/* MESSAGES & ERRORS */

ul.messagelist {
    padding: 0 0 5px 0;
    margin: 2px 10px;
}

ul.messagelist li {
    font-size: 12px;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border-bottom: 1px solid #ddd;
    color: #666;
    background: #ffc url(../admin/img/icon_success.gif) 5px .3em no-repeat;
}

ul.messagelist li.warning{
    background-image: url(../admin/img/icon_alert.gif);
}

ul.messagelist li.error{
    background-image: url(../admin/img/icon_error.gif);
}

.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(../admin/img/icon_error.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

.errorlist li {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: white;
    background: red url(../admin/img/icon_alert.gif) 5px .3em no-repeat;
}

.errorlist li a {
 	color: white;
    text-decoration: underline;
}

td ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
}

td ul.errorlist li {
    margin: 0 !important;
}

.errors {
    background: #ffc;
}

.errors input, .errors select, .errors textarea {
    border: 1px solid red;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding: 4px 5px 4px 25px;
    margin: 0;
    color: red;
    background: #ffc url(../admin/img/icon_error.gif) 5px .3em no-repeat;
}
