{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
{% autoescape off %}

  var exploreMapButton = new Ext.Button({
     renderTo: 'explore_map', 
     text: '{% trans "Explore Maps" %}',
     handler: function(){ window.location = "{% url maps_search %}"; }
  });

  var createMapButton = new Ext.Button({
     renderTo: 'create_map', 
     text: 'Create a Map',
     handler: function(){ window.location = "{% url maps_new %}"; }
  });

  var submitForm = function() {
      Ext.query('#data_block form')[0].submit();
  };

  var searchButton = new Ext.Button({renderTo: 'submit_search', text: '{% trans "Search" %}',
                                     handler: submitForm});

  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});

{% endautoescape %}
});
</script>
{% endblock %}

{% block main %} 
<div class="twocol">
<!-- TODO: i18n on the text here -->
  <div class="block">
    <h2> {% trans "Welcome" %} </h2>

    <p>
Welcome to the St. Louis Regional Data Exchange! The goal of STLRDX is to provide broad
access to valuable information, data and mapping capabilities for the St. Louis region. It aims to
provide a ready data resource for a wide variety of people - academics, non-profits, community
officials, GIS specialists and interested citizens. Not only does it allow you access and utilize
data, data professionals can also share their data with others in the region, making this a true
open source tool. We strive for the democratization of data.
    </p>
    <p>
The Regional Data Exchange was created by the <a href="http://arc.umsl.edu/" target="_blank">Applied Research Consortium</a>, a collaboration
between researchers at <a href="http://www.slu.edu/" target="_blank">Saint Louis University</a>, the <a href="http://www.umsl.edu/" target="_blank">University of Missouri – St. Louis</a>, and
<a href="http://www.siue.edu/" target="_blank">Southern Illinois University at Edwardsville</a>, as part of the <a href="http://www.ewgateway.org/rpsd/" target="_blank">Regional Plan for Sustainable
Development</a>; a project made possible by a U.S. Department of Housing and Urban
Development grant received by the <a href="http://www.ewgateway.org/" target="_blank">East-West Gateway Council of Governments</a>.
    </p>
    <p>
If you have data that you would like to share with others, please help us with our effort to make data more accessible
by <a href="{% url data_upload %}">uploading it</a> to the Regional Data Exchange.
    </p>

    <div class="selfclear">
      <div id="explore_map" class="content-button"></div>
      <div id="create_map" class="content-button"></div>
    </div>
  </div>
  <div id="data_block" class="block">
    <h2> {% trans "Data" %} </h2>
    <p>
      The data exchange lets you upload, manage, and browse geospatial data.  
      <strong>Search</strong> for data that is valuable to you, or 
      <strong>upload</strong> your own data.
    </p>

    <!-- Data search text box and button -->

    <form action="{% url data_search %}" method="POST">
      {% csrf_token %}
        <table>
          <tr>
            <td>
              <input type="text" id="search_query" name="q" />
            </td>
            <td>
              <div id="submit_search"></div>
            </td>
          </tr>
        </table>
        <a href="{% url data_search %}">{% trans "All Data" %}</a>
    </form>
  
    {% if perms.maps.add_layer %}

    <a class="layer-upload-link" href="{% url data_upload %}">{% trans "Upload data"  %}</a>

    {% endif %}

  </div>
</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
