{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}
{% block indexclass %} class="here" {% endblock %}

{% block head %} 
{% include "geonode/ext_header.html" %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}/nivo-slider/jquery.nivo.slider.pack.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-slider/themes/default/default.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nivo-slider/nivo-slider.css" media="screen" />
<script type="text/javascript">
Ext.onReady(function(){
{% autoescape off %}

  var exploreMapButton = new Ext.Button({
     renderTo: 'explore_map', 
     text: '{% trans "Explore Maps" %}',
     handler: function(){ window.location = "{% url maps_search %}"; }
  });

  var createMapButton = new Ext.Button({
     renderTo: 'create_map', 
     text: 'Create a Map',
     handler: function(){ window.location = "{% url maps_new %}"; }
  });

  var submitForm = function() {
      Ext.query('#data_block form')[0].submit();
  };

  var searchButton = new Ext.Button({renderTo: 'submit_search', text: '{% trans "Search" %}',
                                     handler: submitForm});

  var searchInput = new Ext.form.TextField({applyTo: 'search_query', width: 350});

{% endautoescape %}
});

$(window).load(function() {
	$('#slider').nivoSlider({ effect: 'fade', controlNav: false });
});

</script>
{% endblock %}

{% block main %} 
<div class="onecol">
<!-- TODO: i18n on the text here -->
  <div class="block">

    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="{{ STATIC_URL }}/theme/img/slide01.jpg" alt="" title="#htmlcaption01" />
            <img src="{{ STATIC_URL }}/theme/img/slide02.jpg" alt="" title="#htmlcaption02" />
            <img src="{{ STATIC_URL }}/theme/img/slide03.jpg" alt="" title="#htmlcaption03" />
            <img src="{{ STATIC_URL }}/theme/img/slide04.jpg" alt="" title="#htmlcaption04" />
            <img src="{{ STATIC_URL }}/theme/img/slide05.jpg" alt="" title="#htmlcaption05" />
            <img src="{{ STATIC_URL }}/theme/img/slide06.jpg" alt="" title="#htmlcaption06" />
        </div>
        <div id="htmlcaption01" class="nivo-html-caption">
            <div class="nivo-caption-01 nivo-caption-box">
                <h2>Welcome!</h2>
                <p>Thank you for visiting the<br/> St. Louis Regional Data Exchange!</p>
            </div>
        </div>
        <div id="htmlcaption02" class="nivo-html-caption">
            <div class="nivo-caption-02 nivo-caption-box">
                <h3>Our Goal?</h3>
                <p>to provide <strong>broad access</strong> to <br/> <strong>valuable data</strong> and <br/> <strong>online mapping</strong> capabilities <br/> for the St. Louis region.</p>
            </div>
        </div>
        <div id="htmlcaption03" class="nivo-html-caption">
            <div class="nivo-caption-03 nivo-caption-box">
                <h3>Our Audience?</h3>
                <p>The STLRDX aims to be a ready data resource for academics, non-profits, community officials, GIS specialists and interested citizens.</p>
            </div>
        </div>
        <div id="htmlcaption04" class="nivo-html-caption">
            <div class="nivo-caption-04 nivo-caption-box">
                <h2>Publish</h2>
                <p>Not only does the STLRDX allow you to access and interact with existing datasets, data owners/creators can <a href="{% url data_upload %}">upload their data</a> to share.</p>
            </div>
            
        </div>
        <div id="htmlcaption05" class="nivo-html-caption">
            <div class="nivo-caption-05 nivo-caption-box">
                <h2>Share</h2>
                <p>If you have data that you would like to share with others in the region, please help us with our effort to make data more accessible by <a href="{% url data_upload %}">uploading it</a>.</p>
            </div>
        </div>
        <div id="htmlcaption06" class="nivo-html-caption">
            <div class="nivo-caption-06 nivo-caption-box">
                <h2>Get Started!</h2>
                <p>Browse GIS Datasets, Interactive Maps, or Map Documents to see what the STLRDX has to offer, today!</p>
            </div>
        </div>
    </div>

  </div>
  <div id="data_block" class="block">
    <!-- Data search text box and button -->

    <form action="{% url data_search %}" method="POST">
      {% csrf_token %}
        <table>
          <tr>
            <td>
              <input type="text" id="search_query" name="q" />
            </td>
            <td>
              <div id="submit_search" class="content-button"></div>
            </td>
            <td>
              <div id="explore_map" class="content-button"></div>
            </td>
            <td>
              <div id="create_map" class="content-button"></div>
            </td>
          </tr>
        </table>

    </form>
  
    {% if perms.maps.add_layer %}

    <a class="layer-upload-link" href="{% url data_upload %}">{% trans "Upload data"  %}</a>

    {% endif %}

  </div>

  <div id="credit_block" class="block">
    The Regional Data Exchange was created by the <a href="http://arc.umsl.edu/" target="_blank">Applied Research Consortium</a>, 
    a collaboration between researchers at <a href="http://www.slu.edu/" target="_blank">Saint Louis University</a>,
    the <a href="http://www.umsl.edu/" target="_blank">University of Missouri - St. Louis</a>, and
    <a href="http://www.siue.edu/" target="_blank">Southern Illinois University at Edwardsville</a>, as part of the 
    <a href="http://www.ewgateway.org/rpsd/" target="_blank">Regional Plan for Sustainable Development</a>; a project made possible
    by a U.S. Department of Housing and Urban Development grant received by the
    <a href="http://www.ewgateway.org/" target="_blank">East-West Gateway Council of Governments</a>.
  </div>

</div>
{% endblock %}
{% block sidebar %}
{% endblock %}
