{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Search Maps" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
   {% autoescape off %}
 
    var searchTable = new GeoNode.MapSearchTable({
        renderTo: 'search_results',
        trackSelection: true,
        permalinkURL: '{% url maps_search %}',
        searchURL: '{% url maps_search_api %}',
        searchParams: {{init_search}}
    });


    {% endautoescape %}
});
</script>
{% endblock %}

{% block main %} 
<div class="twocol">
  <div class="block">

    <h2 class="explore">{% trans "Interactive Maps" %} <span class="subtitle">{% trans "Explore" %}</span></h2>
    <div class="explain">
      The Data Exchange allows users (just like you!) to create and share interactive, online maps with one another.
      Maps combine one or more GIS Datasets (layers) to display information about a particular geographic subject.
      Explore maps contributed by other users on this page. You can search for a map using the form below or create a new map.
    </div>

    <div id="search_results"></div>  

    <p class="explain">{%trans "Click the <b>+</b> on any row to show map abstract." %}
      {% trans "To bookmark your current search use this" %} <a href="#" class="permalink">{% trans "permalink" %}</a>
    </p>
  </div>

</div>
{% endblock %}

{% block sidebar %}

<div class="threecol">
  <div id="create" class="block">
    <h3>{% trans "Create Your Own Maps" %}</h3>
    <p class="explain">{% trans "Use the Map Composer to create your own maps.  Add layers from the Data Exchange or remote services and style them." %}
    </p>
    <p>
      <a class="create-map-link" href="{%url maps_new %}">{% trans "Create your own map" %}</a>
    </p>
  </div>
</div>

{% endblock %}
