{% extends "maps/base.html" %}
{% load i18n %}

{% block title %} {% trans "Upload Layer"  %} — {{ block.super }} {% endblock %}

{% block head %}
  {% include "geonode/ext_header.html" %}
  {% include "geonode/app_header.html" %}
  {% include "geonode/geo_header.html" %}
  <link rel="stylesheet" type="text/css" href="{{ GEONODE_CLIENT_LOCATION }}theme/ux/fileuploadfield/fileuploadfield.css"/>
  {{ block.super }}
  <script type="text/javascript">
  Ext.onReady(function() {
  });
  </script>
{% endblock %}

{% block main %}
  <h2>{% trans "Add data" %}</h2>
  {% if errors %}
    <div id="errors">
      {% for error in errors %}
        <div>{{ error }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <div id="upload_form">
  </div>
<script type="text/javascript">
{% autoescape off %}

// Validator for ExtJS Checkbox
// Credit: http://www.marcusschiesser.de/2009/02/151/
// With improvements from http://www.marcusschiesser.de/2009/02/151/#comment-2935 and http://www.marcusschiesser.de/2009/02/151/#comment-8222
Ext.form.Checkbox.prototype.validate = function(){
    if (this.validateField) {
        if (this.disabled || this.checked) {
            Ext.form.Field.prototype.clearInvalid.call(this); // Use "Ext.form.Field.prototype" vs. "this" because clearInvalid() is deactivated for Ext.form.Field.Checkbox
            return true;
        }
        else {
            Ext.form.Field.prototype.markInvalid.call(this, this.validateMessage); // Use "Ext.form.Field.prototype" vs. "this" because markInvalid() is deactivated for Ext.form.Field.Checkbox
        }
    }
};

Ext.onReady(function(){
    Ext.QuickTips.init();
    
    var form_target = "{% url geonode.maps.views.upload_layer %}";
    var xml_unsafe = /(^[^a-zA-Z\._]+)|([^a-zA-Z0-9\._])/g;
    var layer_title = new Ext.form.TextField({
      id: 'layer_title',
      fieldLabel: gettext('Title'),
      name: 'layer_title'
    });
    
    var listeners = {
        "fileselected": function(cmp, value) {
            // remove the path from the filename - avoids C:/fakepath etc.
            cmp.setValue(value.split(/[/\\]/).pop());
        }
    };

    var base_file = new Ext.ux.form.FileUploadField({
        id: 'base_file',
        emptyText: gettext('Select a layer data file'),
        fieldLabel: gettext('Data'),
        name: 'base_file',
        allowBlank: false,
        listeners: listeners
    });

    var dbf_file = new Ext.ux.form.FileUploadField({
        id: 'dbf_file',
        emptyText: gettext('Select a .dbf data file'),
        fieldLabel: gettext('DBF'),
        name: 'dbf_file',
        allowBlank: true,
        listeners: listeners,
        validator: function(name) {
            if ((name.length > 0) && (name.search(/\.dbf$/i) == -1)) {
                return gettext("Invalid DBF File.");
            } else {
                return true;
            }
        }
    });

    var shx_file = new Ext.ux.form.FileUploadField({
        id: 'shx_file',
        emptyText: gettext('Select a .shx data file'),
        fieldLabel: gettext('SHX'),
        name: 'shx_file',
        allowBlank: true,
        listeners: listeners,
        validator: function(name) {
            if ((name.length > 0) && (name.search(/\.shx$/i) == -1)) {
                return gettext("Invalid SHX File.");
            } else {
                return true;
            }
        }
    });

    var prj_file = new Ext.ux.form.FileUploadField({
        id: 'prj_file',
        emptyText: gettext('Select a .prj data file (optional)'),
        fieldLabel: gettext('PRJ'),
        name: 'prj_file',
        allowBlank: true,
        listeners: listeners,
        validator: function(name) {
            if ((name.length > 0) && (name.search(/\.prj$/i) == -1)) {
                return gettext("Invalid PRJ File.");
            } else {
                return true;
            }
        }
    });

    var sld_file = new Ext.ux.form.FileUploadField({
        id: 'sld_file',
        emptyText: gettext('Select a .sld style file (optional)'),
        fieldLabel: gettext('SLD'),
        name: 'sld_file',
        allowBlank: true,
        listeners: listeners
    });

    var abstractField = new Ext.form.TextArea({
        id: 'abstract', 
        fieldLabel: gettext('Abstract'),
        name: 'abstract',
        allowBlank: true
    });

    var termsField = new Ext.form.Checkbox({
        id: 'terms', 
        boxLabel: gettext('I agree to the Data Portal terms and conditions.'),
        name: 'terms',
        validateField: true,
        validateMessage: gettext("You must agree to the Data Portal terms and conditions."),
        submitValue: false
    });

    var permissionsField = new Ext.form.Hidden({
        name: "permissions"
    });

    var fp = new Ext.FormPanel({
        renderTo: 'upload_form',
        fileUpload: true,
        width: 500,
        frame: true,
        autoHeight: true,
        unstyled: true,
        labelWidth: 50,
        defaults: {
            anchor: '95%',
            msgTarget: 'side'
        },
        items: [layer_title, base_file, dbf_file, shx_file, prj_file, sld_file, abstractField, permissionsField, termsField, {
            xtype: "hidden",
            name: "csrfmiddlewaretoken",
            value: "{{ csrf_token }}"
        }],
        buttons: [{
            text: gettext('Upload'),
            handler: function(){
                if (fp.getForm().isValid()) {
                    fp.getForm().submit({
                        url: form_target,
                        waitMsg: gettext('Uploading your data...'),
                        success: function(fp, o) {
                            document.location = o.result.redirect_to;
                        },
                        failure: function(fp, o) {
                            error_message = '<ul>';
                            for (var i = 0; i < o.result.errors.length; i++) {
                                error_message += '<li>' + o.result.errors[i] + '</li>'
                            }
                            error_message += '</ul>'

                            Ext.Msg.show({
                                title: gettext("Error"),
                                msg: error_message,
                                minWidth: 200,
                                modal: true,
                                icon: Ext.Msg.ERROR,
                                buttons: Ext.Msg.OK
                            });
                        }
                    });
                }
            }
        }]
    });

    var disable_shapefile_inputs = function() {
        dbf_file.hide();
        shx_file.hide();
        prj_file.hide();
    };

    var enable_shapefile_inputs = function() {
        dbf_file.show();
        shx_file.show();
        prj_file.show();
    };
  
    var check_shapefile = function() {
        var main_filename = base_file.getValue();
        if ((/\.shp$/i).test(base_file.getValue())) {
            enable_shapefile_inputs();
        } else {
            disable_shapefile_inputs();
        }
    };

    base_file.addListener('fileselected', function(cmp, value) {
        check_shapefile();
    });
    disable_shapefile_inputs();

    var permissionsEditor = new GeoNode.PermissionsEditor({
        renderTo: "permissions_form",
        userLookup: "{% url geonode.views.ajax_lookup %}",
        listeners: {
            updated: function(pe) {
                permissionsField.setValue(Ext.util.JSON.encode(pe.writePermissions()));
            }
        },
        permissions: {
            anonymous: 'layer_readonly',
            authenticated: 'layer_readonly',
            users:[]
        }
    });
    permissionsEditor.fireEvent("updated", permissionsEditor);
});
{% endautoescape %}
</script>
<style>
#x-form-el-terms .x-form-invalid-icon
{
    left:30px !important;
    top:1px !important;
}
</style>

{% endblock %}


{% block sidebar %}
<ul class="nav nav-list">
  <li class="nav-header">{% trans "Permissions" %}</li>
  <li class="form-inline">
    <div id="permissions_form"></div>
  </li>
</ul>
{% endblock %}
