/* Data Search */
.selection-table{
	border: 1px solid #EDEDED;
}
#refine{
	display: none;
}
#data_ops ul{
	margin: 0px;
}

/* Data Info */
.social_like{
	width: 150px;
	height: 15px;
	padding: 6px 0 6px 0;
	float: right;
	text-align: right;
}
