{% extends "page_layout.html" %}
{% load i18n %}

{% block title %} {% trans "Search Documents" %} - {{ block.super }} {% endblock %}

{% block head %}
{% include "geonode/ext_header.html" %}
{% include "geonode/app_header.html" %}
{% include "documents/documents_search.js" %}
{{ block.super }}
<script type="text/javascript">
Ext.onReady(function(){
   {% autoescape off %}
 
    var searchTable = new GeoNode.DocumentSearchTable({
        renderTo: 'search_results',
        trackSelection: true,
        permalinkURL: '{% url documents_search %}',
        searchURL: '{% url documents_search_api %}',
        searchParams: {{init_search}}
    });


    {% endautoescape %}
});
</script>
{% endblock %}

{% block main %} 
<div class="twocol">
  <div class="block">

    <div class="document-upload-container"><a class="document-upload-link" href="{% url document-upload %}">{% trans "Upload data"  %}</a></div>
    <h2 class="explore">{% trans "Explore" %} <span class="subtitle">{% trans "Map Documents" %}</span></h2>
    <div class="explain">
      The Data Exchange allows users (just like you!) to upload and share Map Documents with one another.
      Map Documents are noninteractive images or PDFs of maps that other users have previously created.
      They can be easily printed or included in reports or other documents.
      You can search for a document using the form below.
    </div>

    <div id="search_results"></div>  

    <p class="explain">{%trans "Click the <b>+</b> on any row to show additional details." %}
      {% trans "To bookmark your current search use this" %} <a href="#" class="permalink">{% trans "permalink" %}</a>
    </p>
  </div>
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}
